.content {
    @include media-breakpoint-only(xl) {
        width: map-get($grid-breakpoints, xl) - 0.05*map-get($grid-breakpoints, xl);
        margin-left: auto;
        margin-right: auto;
    }
    @include media-breakpoint-only(lg) {
        width: map-get($grid-breakpoints, lg) - 0.05*map-get($grid-breakpoints, lg);
        margin-left: auto;
        margin-right: auto;
    }
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.widget-area {
    @include media-breakpoint-up(md) {
        width: 23%;
        float: right;
    }
}

.site-main {
    @include media-breakpoint-up(md) {
        width: 70%;
        float: left;
    }
}

.main-navigation {}

.content-margin {}