$altura-barra-navegacion: 3.8em;
$separacion-elementos-menu-navegacion: 1em;
$altura-elementos-menu-navegacion: 1.8em;
$ancho-titulo-header-menu: 15em;
$tamanio-fuente-h4-cabecera: 0.7em;
$tamanio-fuente-p-cabecera: 0.7em;